body {
    background-color: #607EAA;
    color: #FFFFFF;
    font-family: 'Sree Krushnadevaraya', serif;;
}

h1 {
    color: #FFFFFF;
}

div {
    margin: 15px;
    border: 2px;
}

a {
    color: #0002A1;
}

.btnAway {
    display: none;
}

.btnCome {
    display: auto;
}

#title {
    text-align: center;
}

.dropDown {
    text-align: center;
    width: 50%;
}

#reccentS {
    color: #0002A1;
}