body {
    background-color: #607EAA;
    color: #FFFFFF;
    font-family: 'Sree Krushnadevaraya', serif;;
}

h1 {
    color: #FFFFFF;
}

div {
    border: 2px;
}

.btnAway {
    display: none;
}

.btnCome {
    display: auto;
}

#reccentS {
    color: #0002A1;
}